.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px 50px 20px;
    height: 100%;
    box-sizing: border-box;
    .body{
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        .linkContainer{
            //perspective: 0px;
            perspective-origin: bottom;
            //background-color: rgb(0, 1, 73);
            border-radius: 10px;
            //border: 1px solid rgb(29, 29, 29);
        }
        .linkContainer:hover{
            background-color: rgb(0, 0, 0);
        }
        a{
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-size: 1.6rem;
            padding-left: 4%;
            font-family: 'condensed-j2';
        }
    }
    .footer{
        display: flex;
        flex-wrap: wrap;
        a{
            width: 10%;
            margin-top: 5px;
            font-size: 1.2rem;
        }
    }
}

@font-face {
    font-family: 'condensed-j';
    src: url('../../../../public/images/ClashDisplay-Light.otf');
  }
  .j-font3 {
    font-family: 'condensed-j';
  }
  @font-face {
    font-family: 'condensed-j2';
    src: url('../../../../public/images/ClashDisplay-Regular.otf');
  }
  .j-font4 {
    font-family: 'condensed-j2';
  }