.background{
    background: linear-gradient(105deg, #000000 35%, #a6a6a6 100%);
    
    
    
}
.image{
    position: fixed;
    top: 10%;
    right: 4%;
    z-index: 99;
    //transform: translate(-50%, -50%);
}

.body{
    overflow: hidden;
}