.double{
    display: flex;
    padding-top: 0vh;
    height: 42vw;
    background-color: rgba(204, 200, 200, 0.182);

    .imageContainer{
      &:nth-of-type(1){
        width: 66.66%;
      }
      &:nth-of-type(2){
        width: 33.33%;
      }
      
      .stretchyWrapper{
        padding-bottom: 49%;
        position: relative;

        img{
          object-fit: cover;
          object-position: center;
          width: 100%;
          height: 100%;
        }
      }
    }

    &:nth-child(even){
      .imageContainer{
        &:nth-of-type(1){
          width: 33.33%;
        }
        &:nth-of-type(2){
          width: 66.66%;
        }
      }
    }

    .body{
      font-size: 16px;
      padding: 10px;
      h3{ 
        font-size: 1.2em;
        color: rgb(39, 39, 39);
        margin-bottom: 5px;
        margin-top: 0px;
        font-weight: 400;
        font-family: 'condensed-j2';
      }

      p{
        font-size: 1em;
        margin: 0px;
        color: rgb(98, 97, 97);
        font-family: 'condensed-j';
        &:nth-of-type(2){
          color: rgb(48, 48, 48);
          font-family: 'condensed-j';
        }
      }
    }
  }

  @font-face {
    font-family: 'condensed-j';
    src: url('../../../../public/images/ClashDisplay-Light.otf');
  }
  .j-font3 {
    font-family: 'condensed-j';
  }
  @font-face {
    font-family: 'condensed-j2';
    src: url('../../../../public/images/ClashDisplay-Regular.otf');
  }
  .j-font4 {
    font-family: 'condensed-j2';
  }