.button{
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 40px;
    cursor: pointer;
    border-radius: 25px;
    overflow: hidden;
    font-family: 'condensed-j';
    







    
    .slider{
        position: relative;
        width: 100%;
        height: 100%;

        .el{
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, rgb(95, 95, 95), rgb(11, 11, 11));
            //background-color: rgb(18, 18, 18);
            
            p{
                margin: 0px;
                font-size: 1.15rem;
                color: white;
            }
            &:nth-of-type(2){
                background-color: black;
                p{
                    color: #f2f3ff;
                }
            }
            &:hover{
                .perspectiveText{
                    transform: rotateX(90deg);
                    p{
                        &:nth-of-type(1){
                            transform: translateY(-100%);
                            opacity: 0;
                        }
                        &:nth-of-type(2){
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    
}

.perspectiveText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 0.75s cubic-bezier(0.76, 0, 0.24, 1);
    p{
        transition: all 0.75s cubic-bezier(0.76, 0, 0.24, 1);
        pointer-events: none;
        color: wheat;
        text-transform: uppercase;
        &:nth-of-type(2){
            position: absolute;
            transform-origin: bottom center;
            transform: rotateX(-90deg) translateY(9px);
            opacity: 0;
        }
    }
}


@font-face {
  font-family: 'condensed-j';
  src: url('/../../../../public/images/ClashDisplay-Light.otf');
}
.j-font3 {
  font-family: 'condensed-j';
}
@font-face {
  font-family: 'condensed-j2';
  src: url('/../../../../public/images/ClashDisplay-Regular.otf');
}
.j-font4 {
  font-family: 'condensed-j2';
}