.container{
    position: absolute;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    //background-color: rgb(194, 192, 192);
    background: linear-gradient(105deg, #8e8d8d 35%, #dedbdb 100%);
    
    
}