.vid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    //width: 100%;
    //height: auto;
    border-top: solid rgb(97, 97, 97) 2px;
    background-color: rgba(0, 0, 0, 0.73);
    position: relative;
    padding-bottom: 10vh;
    padding-left: 3%;

    @media screen and (max-width: 600px) {
        
        padding-top: 20%;
        gap: 8rem;
        
    }
  }
.body {
  overflow-x: hidden;
}
  .videoContainer {
    position: relative;
    width: 65%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 4rem;
    margin-bottom: 6rem;
    //padding: 6rem;

    border: solid rgb(154, 154, 154) 3px;
    border-radius: 20px;

    @media screen and (max-width: 600px) {
        width: 100%;
        height: 50vh;
        //margin: 0.5rem;
        //padding: 4rem 0.5rem;
        
    }
    
  }
  .video {
    width: 150%;
    height: 108%;
    border-radius: 20px;
    object-fit: cover;
    //border: solid rgb(154, 154, 154) 3px;

    @media screen and (max-width: 600px) {
        object-fit: contain;
        
    }
  }
  .videoContainer2 {
    position: relative;
    width: 18%;
    height: 65vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid rgb(154, 154, 154) 3px;
    border-radius: 20px;

    @media screen and (max-width: 600px) {
        width: 70vw;
        height: 70vh;
        padding: 0.5rem;

        
        
    }
  }
  
  .video2 {
    width: 150%;
    height: 108%;
    border-radius: 20px;
    object-fit: cover;
    //border: solid rgb(154, 154, 154) 3px;

    @media screen and (max-width: 600px) {
        object-fit: cover;
        
    }
  }
  
  /* Style pro SVG */
  .svgContainer {
    position: absolute;
    top: 0%;
    left: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    max-width: 600px;


    @media screen and (max-width: 600px) {
        display: none;
        
    }
  }
  
  .svg {
    
    overflow: visible;
  }
  
  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .text {
    color: white;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
  }
  